body {
    background-color: #fafafa;
    color: #111;
    font-family: 'EB Garamond';
    margin: 10ch auto;
    max-width: 60ch;
    font-size: 18px;
    line-height: 1.5;
}

h1 {
    font-size: 1.17em;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* index.html */
span {
    display: block;
    text-align: right;
    margin-top: 2ch;
}

#index-div {
    margin-top: 30ch;
}

/* sonnets.html specific */
#list {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 0.5em;
}

#list a {
    display: block;
}

#sonnet {
    display: none;
}

#main-title {
    margin: 1.5em auto;
    margin-top: 0;
    text-align: center;
    text-transform: uppercase;
}

#main-title, #sonnet-title {
    font-family: "IM Fell English";
}

#sonnet, #footer {
    max-width: 60ch;
}

@media (max-width: 700px) {
    #container {
        width: 90vw;
        min-width: 0;
        box-sizing: border-box;
        margin: 1em;
    }
}

#sonnet.active {
    display: block;
}

#sonnet-text {
    margin: 1em 0;
}

#footer {
    margin: auto;
    padding: 0.5em 0;
}

#nav {
    border-top: 1px solid black;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#hover-title, #nav {
    padding-top: 1em;
}

#hover-title {
    text-align: center;
    text-transform: capitalize;
}

@media (hover: hover) {
    #hover-title {
        border-top: 1px solid black;
        padding-top: 1em;
    }

    #sonnet-title, #nav {
        opacity: 1;
        animation: fadeOut 0.3s ease-in-out 0.5s forwards;
        transition: opacity 0.3s ease-in-out;
    }

    #sonnet-title:hover, #nav:hover {
        opacity: 1;
        animation: none;
    }

    @keyframes fadeOut {
        to {
            opacity: 0;
        }
    }
}


#home {
    font-size: 1.2em;
}