body {
    background-color: #fafafa;
    color: #111;
    font-family: 'EB Garamond';
    margin: 30ch auto;
    max-width: 60ch;
    line-height: 1.5;
    font-size: 18px;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* index.html specific */
span {
    display: block;
    text-align: right;
    margin-top: 2ch;
}

/* sonnets.html specific */
#list {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 0.5em;
}

#list a {
    display: block;
}

#sonnet {
    display: none;
}

#main-title {
    margin: auto;
    text-align: center;
    text-transform: uppercase;
    padding: 2em 0;
}

.im-fell-english {
    font-family: "IM Fell English";
}

#sonnet, #nav {
    width: 60ch;
}

#sonnet.active {
    display: block;
}

#sonnet-text {
    margin: 2em 0;
}

#nav {
    border-top: 1px solid black;
    display: flex;
    justify-content: space-between;
    padding: 0.5em 0;
    margin: 2em 0;
}

#home {
    font-size: 1.2em;
}

h1 {
    font-weight: normal;
    font-size: 1.2em;
}
